#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=theGrades
GenericName=Grade logger with GPA calculation
Exec=thegrades
Icon=theGrades
Categories=Utility;
